.form-param{
    position: relative;
    top: -450px;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 3px 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    max-width: 1790px;
    margin: 0 auto;
    height: 415rem;
    scroll-behavior: auto;
    padding: 5rem 5rem 3rem 5rem;
}
.form-param__choosed{
    height: 450px;
}

.form__close{
    position: relative;
    top: -45px;
    right: -87px;
    font-size: 39px;
}
.fp-choosed{
    padding-top: 5.2rem;
}
.fp-choosed--temp{
    height: 90%;
}
.fp-choosed__item{
    font-weight: 300;
    font-size: 30px;
    color: #000;

}
.fp-choosed__item span{
    padding-right: 15px;
}
.form-param__filter, .fp-filter{
    display: flex;
    flex-flow: column nowrap;
margin-top: 30px;
}

.fp-filter__title{
    width: 100%;
    /*margin-bottom: 37px;*/
}

.fp-filter__items{

}
.fp-filter__item{

}

.fp-filter-item__title{
    cursor: pointer;
    padding:   33px 0 48px;
}


.fp-filter-item__inner{

    display: grid;
    grid-template-columns: 54vh 54vh 50vh auto;
    grid-gap: 11vh;
}
.fp-label--tx {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #000
}
