@font-face {
    font-family: 'Lato SemiBold';
    src: url('../font/Lato SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../font/Lato Light.woff2') format('woff2');
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
h1, .h1 {
    font-size: calc(1.03rem + 1.02vw);
    font-weight: 530;
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    border-style: hidden;
    outline: none;
    width: 526px;
}
img {
    width: 100%;
    max-width: 100%;
}

body {
    color: #999;
    font-size: 16px;
    font-family: 'Lato Light', sans-serif;
    line-height: 1.8;
    overflow-wrap: normal;
    padding: 0;
    margin: 0;

}

.header {
    height: 300px;
    overflow: hidden;
}

/* ----------  shared styles ---------------*/

.my-input-lg {
    font-size: 1.4rem;
    background-color: #fffdfd;
    height: 71px;
    width: 47%;
    border-radius: 10px;
    border: 1px solid #999999;
    padding-left: 20px;
}

.vertical-center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
main{
    min-height: 3500px;
}


/* ------------ HOME --------------*/

.home {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 65px;
}
.prepear-search  {
    margin-top: 9%;
    margin-bottom: 10%;
    block-size: border-box;
}

.send-section{
    top: -50px;
    margin-bottom: 0;
}


.title-header {
    padding: 80px 10px 10px 115px;
    /*max-width: 1700px;*/
    display: flex;
    /*margin-top: 80px;*/
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.title-header > h1 {
    margin-top: 14px;
    margin-left: 16px;
    width: 81%;
    height: 35%;
}
.title-menu div:hover{
    border-bottom: 5px solid blue;
}
.title-menu div:active{
    display: block;
    border-bottom: 5px solid gray;
}
.header hr{
    position: relative;
    top: -5px;
}
.newbuild-items,.ipot-items{
    display: none;
  padding-top: 10px;
   height: 400px;
    min-width: 600px;
    background-color: gainsboro;
}

.logo {
    margin-top: -5px;

}

.local {
    padding: 10px;
}
.local img{
    width:18px;
    height: 25px;
}

.local > .local-toogle {
    font-family: 'Lato Light', sans-serif;
    text-decoration: none;
    color: #18454a;
    text-align: left;
    vertical-align: text-top;
    font-size: 24px;
    border-style: hidden;
    outline: none;
    width: 102px;
}

.header-spacer {
    flex: 1 1 auto;
}

.nav-header {
    margin-top: 20px;
    padding: 5px 10px 0 241px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    line-height: 2.1;
}

.place-add {
    margin-left: 222px;
}

.personal {
    margin-left: 40px;
    padding-left: 45px;
}

.title-menu {
    padding: 0 0;
    width: 37.40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: end;
}

.nav-a {
    color: #8c8c8c;
    text-align: left;
    vertical-align: center;
    font-size: 24px;
    width: 149px;
    text-decoration: none;

}
.nav-a > span {
    border: 2px solid #8c8c8c;
    font-size: 28px;
}


.banner {
    background-color: #032f30;
    height: 1028px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 40px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(233.00000131130219, 234.00000125169754, 238.00000101327896, 1);
    background-image:linear-gradient(0deg, rgba(23.000000528991222, 68.00000354647636, 73.00000324845314, 1) 0%,rgba(37.30096064507961, 110.28110235929489, 118.39000403881073, 1) 56.23987317085266%,rgba(39.068496599793434, 115.50685554742813, 124.00000780820847, 1) 62.07455396652222%,rgba(40.996714532375336, 121.20767444372177, 130.12000501155853, 1) 67.90924072265625%,rgba(55.13698697090149, 163.0136999487877, 175.00000476837158, 1) 100%) ;
}

.banner-back-logo{
    position: absolute;
    right: 0;
    height: 890px;
    width:  800px;
    top: 10%;
}

.banner-inner{
}

.banner--small {

    height: 31rem;

}

.info-banner--small{

    padding-top: 10%;
    color: white;
    width: 50vh;
    font-size: 35px;
}

.img-banner {
    background-image: url("../img/фото ЖК (сменное до 5 шт).png");
    height: 1096px;
    width: 1126px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    border: 0;
    top: -30px;
    left: -5px;
    position: relative;
    margin: 0;
}

.text-part-banner {
    position: absolute;
    height: 79%;
    width: 59%;
    top: 19%;
    left: 37%;
    margin: auto;
}

.title-banner {
    padding-left: 65px;
    width: 100%;
    background-color: #ffffff;
    min-height: 113px;
    border-radius: 15px;
    color: #032f30;
    font-size: 95px;
    border-style: hidden;
    outline: none;
    /*font-weight: 1000;*/
    line-height: 1.2;
    font-family: 'Lato SemiBold', sans-serif;
}

.info-banner {
    position: relative;
    padding-top: 33px;
    padding-left: 43%;
    color:rgba(255, 255, 255, 1);
    text-align:left;
    font-size:46px;
    letter-spacing:0;
    line-height: 1.15;
    font-family: 'Lato Light',sans-serif;
}

.smart-part {
    margin-top: 17rem;
    margin-left: 38.3rem;
    width: 433px;
}

.smart-part button {
    color: #032f30;
    text-align: center;
    vertical-align: text-top;
    font-size: 35px;
    background-color: #efeccb;
    height: 78px;
    width: 433px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    font-family: 'Lato SemiBold',sans-serif;
    cursor: pointer;
}

.info-smart {
    margin-top: 20px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    vertical-align: text-top;
    font-size: 25px;
}

/*  - ----prepear-search---- - */

.prepear-search {
    padding-left: 100px;
}

.filter-side {
    height: 1000px;
}

.title-section {
    font-family: 'Lato SemiBold',sans-serif;
    color: #000000;
    /*text-align:left;*/
    /*vertical-align:text-top;*/
    font-size: 3.1rem;
    line-height: 1.3;
    /*outline:none;*/
    /*text-wrap: normal;*/

}

.title-section ~ p {
    margin-top: 30px;
    color: #000000;
    font-size: 2rem;
    line-height: 1.2;
}

.blocks-filter {
    margin-top: 110px;
}

.block-filter {
    margin-top: 36px;
    color: #000000;
    font-size: 24px;
}

.block-filter> label {
    display: block;
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    font-size: 24px;
    line-height: 1.2;
    border-style: hidden;
    outline: none;
    width: 226px;
    margin-bottom: 24px;
}

.my-btn-lg {
    border: 1px solid #999999;

}
.my-listdown,.my-select{
    border: 0px solid #999;
    border-radius: 10px;
    width: 291px;
    height: 57px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fffefe;
    font-weight: 600;
    font-size: 25px;
    color: #174449;
}
.my-select ~ svg{
    content: '';
    font-size: 18px;
    line-height: 12px;
    font-weight: 900;
    color: black;
    top:-40px;
    left: 63%;
    position: relative;

}
.my-btn-lg > .btn {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.55rem;
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}



.block-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cost {
    width: 440px;
}

.area {
    width: 360px;
}

.btn-check:checked + .btn {
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    border-radius: 5px !important;
}

#btnradio1 + label, #btnradio6 + label {
    border-left: 0;
    border-right: 0;
}

.extended-filter {
    position: relative;
    top: 80px;
    color: #000000;

    padding-left: 30px;
    font-size: 32px;
    border-style: hidden;
    outline: none;
}

.extended-filter span {
    margin-right: 15px;
    font-size: 62px;
    position: relative;
    top: 10px;
}

/*        -          cards side           -           */


.cards-side {
    padding: 30px 90px 10px 120px;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    position: relative;

}

.brdr {
    width: 468px;
    background-color: #ffffff;
    height: 762px;
    transition: border-radius 0.2s linear;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 700;
    font-size: 0.94rem;
    color: #000;
    border: 0;
}


.brdr:hover > .img_section {
    /*border: black 2px solid;*/
    /*background-color: antiquewhite;*/
    transform-box: fill-box;
    /*border-radius: 10% 50px;*/
    transform: scale(1);
    height: 300px;
}

.brdr:empty {
    /*height: 100%;*/
    height: 762px;
}

.img_section {
    /*margin: -15px -15px 69px -15px;*/
    height: 466px;
}

.title_img {
    background-image: url("../img/стел жк 7.png");
    border-radius: 30px 30px 120px 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.title_img-small {
    height: 312px;
}

.bageSoon {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    top: 34px;
    left: 46px;
    border: 0;
    box-shadow: white;
    background-color: rgba(246, 246, 246, 0.800000011920929);
    height: 47px;
    width: 110px;
    font-weight: 500;
    font-size: 15px;
}


.bageLogo {
    position: absolute;
    background-color: rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 0.9);
    border-radius: 10px;
    width: 137px;
    height: 110px;
    margin-left: 30px;
    border: 0;
    box-shadow: white;
    top: -60px;
}


.bageLogo > b {
    display: block;
}

.bageLogo > div {
    background-color: #5f77ec;
    display: inline;
    padding: 1px;
    line-height: 0.5;

}

.logo_img {
    position: relative;
}

.info_section {
    padding: 70px 50px 70px 50px;
    position: relative;
    margin-left: 30px;
    line-height: 5.5vh;
}

.info_section > div:nth-child(n+2) {
    font-weight: 300;
    font-size: 18px;
    color: #bcbcbc;
}

.info_section > div:nth-child(1) {
    margin-bottom: 5px;
}

.info_section > div:nth-child(2) {
    margin-bottom: 34px;
}

.info_section > div:nth-child(3) {
    margin-bottom: 11px;
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

.show-button {
    background-color: #18454a;
    height: 60px;
    width: 502px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 30px;
    border-style: hidden;
    outline: none;
    lighting-color: white;

}
.show-button:hover{
    background-color: #28666DFF;

}


.send-form{
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(37, 110, 118, 0.10000000149011612);
    height:668px;
    width:1835px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:25px;
    padding: 20px 20px 20px 20px;
}
.send-section{
    position: relative;
    min-height: 850px;
    padding-left: 40px;
    padding-right:10px;
    align-content: center;

}
.logo-send-form{
    position: absolute;
    top:-10px;
    left: 160px;
}

.header-form{
    position: relative;
    top:60px;
    right:85px;
    color:rgba(0, 0, 0, 1);
    height: 120px;
    width:933px;
    font-size:55px;
    line-height: 1.5;
}
.header-form+p{
    position: relative;
    right:80px;
    font-size:35px;
    line-height: 1.2;
    width:940px;
    font-family: "Lato Light",sans-serif;
    font-weight: lighter;
    letter-spacing:0.08rem
}

.my-input-group{
    padding: 80px 37px 10px 30px;
    justify-content: space-between;
}
.send-in input{
    min-width: 430px;
    max-width: 715px;
    font-size: 2rem;
    background-color: #fffdfd;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #999999;
    padding-left: 40px;
}
.send-in input:nth-child(2){

    width: 490px;
}
.button-wanted{
    margin: 30px auto;

    background-color:#174449;
    height:104px;
    max-width:1330px;
    border-radius:25px;
    text-align: center;
    font-size: 2.8rem;

}
.filter-section_header, .filter-section_content{
    margin: 0 auto;
    max-width: 95%;
}
.filter-section_content{
    border-radius: 16px;
    width: 1769px;
    height: 1996px;
    background: rgba(23, 68, 73, 0.05);
    padding: 50px;
}
.filter-section_header .row:nth-child(1){
    padding-left: 10vh;
    padding-right: 10vh;
}
.filter-section_header .row:nth-child(2){
    margin-top: 14vh;
}
.filter-section_header .row:nth-child(3){
    /*margin-top: 3vh;*/
    padding-left: 5vh;
    padding-right: 5vh;
}
.filter-section_header .block-filter {
    transform: scale(1.2);
}
.filter-section_header .col-md-4 .block-filter{
    margin-left: 2vh;
    margin-right: 0;
}
.filter-section_header .col-md-3 .block-filter{
    margin-left: 7vh;
    margin-right: 0;
}
.filter-button{
    border: 0px solid rgba(153, 153, 153, 0);
    border-radius: 10px;

    height: 85px;
    font-weight: 600;
    font-size: 30px;

}
.banner--small .banner-back-logo{
    height: auto;
    width:  40vh;
}
._show{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #174449;
    width: 298px;
    color: #fff;
}
._cancel{
    width: 428px;
}
#group_obj{
    font-size: 24px;
}
#group_obj~label{
    font-weight: 300;
    font-size: 24px;
    color: #000;
}
.filter-banner{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    height: 489px;
    border-radius: 30px 30px 30px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}
.filter-banner .info_section> div{
    transform: scale(2);
}
.filter-banner .info_section{
    left:400px;
}
.filter-banner .info_section div:nth-of-type(3){
    margin-top:-5% ;
}
.filter-banner .info_section div:nth-of-type(4){
    font-weight: 600;
    font-size: 25px;
    color: #174246;
    margin-top:14vh ;
}

.result-search__items{
    margin-top:  12vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    grid-row-gap: 200px;
}
.result-search__item{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    mix-height: 300px;
}
.r-item-img{
    text-align: center;
    /*width: 30%;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.50px solid #999;
    border-radius: 5px;
    width: 258px;
    height: 298px;
    background: #fffefe;
}
.r-item-img img{

    max-height: 300px;
    max-width: 100px;

}
.r-item-info{
    width: 55%;
}
.r-item__categories p{
   flex-flow: row wrap;
    justify-content: space-between;
}
.r-item__categories p span{
    text-align: left;
    min-width: 40%;
}
/*  -         ----footer----         - */


footer {
    height: 700px;
    background-image: url('../img/footer.png');
    background-position: center;
    position: relative;
    margin-top: 40px;

}

.logback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img-to-center {
    max-width: 100%;
    max-height: 100%;
}

.block-info {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 688px;
    height: 276px;
    border: 1px solid rgba(0, 0, 0, 1);
    position: relative;
    margin-left: auto;
    margin-right: 0;
    top: -31px;

    /*padding: 36px 76px 30px 46px;*/
}
/**/
.block-info span {
    font-family: 'Lato SemiBold', serif;
    text-align: left;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 4rem;
    border-style: hidden;
    outline: none;
    width: 555px;

}
.footer_text_left {
    margin-top: 280px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 25px;
    color: white;
    line-height: 3.4rem;
}
.footer_geo {
    background-color: #efeccb;
    border-radius: 30px;
    width: 177px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    margin-left: 70px;
}
.footer_geo_location {
    font-weight: 700;
    font-size: 24px;
    color: #18454a;
}
.tx-footer {
    font-family: 'Lato Light', serif;
    font-weight: 400;
    font-size: 25px;
}

.tx-footer-light {
    font-family: 'Lato Light', serif;
    font-weight: 200;
    font-size: 25px;
}

._dropdown-menu{
    width: 1200px;
    position: absolute;
}

.submenu {
    padding: 10px 200px 10px 200px;
    display: none;
    left: 0;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 99;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-a:hover .submenu {
    display: block;

}
.menu2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu2 li {
    display: inline-block;
    position: relative;
}
.menu2 li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background: #f9f9f9;
}
.menu2 li ul {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 99;
    top: 100%;
    width: 100%;
    left: 0;
    /*background: #fff;*/
}
.menu2 li:hover ul {
    display: block;
}
.menu2 li ul li {
    display: block;
}
.menu2 li ul li a {
    padding: 8px 10px;
    color: #333;
}


iframe{
   min-height: 450px;
}
