@font-face {
    font-family: 'Lato SemiBold';
    src: url('../font/Lato SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../font/Lato Light.woff2') format('woff2');
}

html {
    box-sizing: border-box;
}

:root {
    --font-family: 'Lato Light', sans-serif;
    --font-family-bold: 'Lato SemiBold', sans-serif;

}


*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, .h1 {
    color: #000;
    font-family: var(--font-family-bold);
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    color: #999;
    font-size: 16px;
    font-family: 'Lato Light', sans-serif;
    line-height: 1.8;
    overflow-wrap: normal;
    padding: 0;
    margin: 0;

}

ul, li {
    text-decoration: none;
    list-style: none;
}

/* ----------  shared styles ---------------*/
.wrapper-back-banner {

    background-image:
            linear-gradient(22deg, rgb(19 56 60) 0%, rgba(37.30096064507961, 110.28110235929489, 118.39000403881073, 1) 56.23987317085266%, rgb(49 121 129) 62.07455396652222%, rgb(3 109 120) 67.90924072265625%, rgb(95 149 155) 100%),
            url(../img/back_baner_logo.png);
    background-repeat: no-repeat,no-repeat;
    width: 100%;
    background-blend-mode: overlay;
    background-position: top center,right;
    background-size: cover, 16%;
    height: 366px;

}
.my-container, .container-main{
    margin: 0 auto;
    max-width: 1156px;
}

.my-input-lg {
    font-size: 1.4rem;
    background-color: #fffdfd;
    height: 71px;
    width: 47%;
    border-radius: 10px;
    border: 1px solid #999999;
    padding-left: 20px;
}

.my-input-sm {
    border: 1px solid #999;
    border-radius: 10px;
    width: 100px;
    height: 42px;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lbl-tx {
    font-family: var(--font-family);
    font-size: 24px;
    color: #000;
}

.lbl-tx.--sm {
    font-weight: 300;
    color: #0a53be;
}

.lbl-tx .lbl-tx--bold {
    font-weight: 400;
}

.title {
    font-family: var(--font-family-bold);
    font-weight: 500;
    font-size: 40px;
    color: #000;
    margin: 14px 14px;

}


.title--h1 {

    font-weight: 600;
    font-size: 45px;

}

.title--h2 {
    font-weight: 600;
    font-size: 50px;
    color: #000;
}

.title--h3 {
    font-weight: 700;
    font-size: 48px;
    color: #000;
}

.title--h4 {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}


.link--base {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #106681;
}

main {
    width: 100%;
    height: max-content;
}

.search-page{
    min-height: 2000px;
}
.apartment-page{
    min-height: 3100px;
}

/* ------------ HOME --------------*/

.header {
    height: 300px;
    overflow: hidden;
}

.filter-page {
    overflow: hidden;
}

.home {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 65px;
}

.prepear-search {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0 40px 0 100px;
}

.send-section {
    top: -50px;
    margin-bottom: 0;
}


.title-header {
    padding: 80px 10px 10px 115px;
    /*max-width: 1700px;*/
    display: flex;
    /*margin-top: 80px;*/
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.title-header > h1 {
    margin-top: 14px;
    margin-left: 16px;
    width: 81%;
    height: 35%;
}

.title-menu div:hover {
    border-bottom: 5px solid blue;
}

.title-menu div:active {
    display: block;
    border-bottom: 5px solid gray;
}

.header hr {
    position: relative;
    top: -5px;
}

.newbuild-items, .ipot-items {
    display: none;
    padding-top: 10px;
    height: 400px;
    min-width: 600px;
    background-color: gainsboro;
}

.logo {
    margin-top: -5px;

}

.local {
    padding: 10px;
}

.local img {
    width: 18px;
    height: 25px;
}

.local > .local-toogle {
    font-family: 'Lato Light', sans-serif;
    text-decoration: none;
    color: #18454a;
    text-align: left;
    vertical-align: text-top;
    font-size: 24px;
    border-style: hidden;
    outline: none;
    width: 102px;
}

.header-spacer {
    flex: 1 1 auto;
}

.nav-header {
    margin-top: 20px;
    padding: 5px 10px 0 241px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    line-height: 2.1;
}

.place-add {
    margin-left: 222px;
}

.personal {
    margin-left: 40px;
    padding-left: 45px;
}

.title-menu {
    padding: 0 0;
    width: 37.40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: end;
}

.nav-a {
    color: #8c8c8c;
    text-align: left;
    vertical-align: center;
    font-size: 24px;
    width: 149px;
    text-decoration: none;

}


/*.nav-a > span {*/
/*    border: 2px solid #8c8c8c;*/
/*    font-size: 28px;*/
/*}*/

.banner {
    background-color: #032f30;
    height: 1028px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(233.00000131130219, 234.00000125169754, 238.00000101327896, 1);
    background-image: linear-gradient(0deg, rgba(23.000000528991222, 68.00000354647636, 73.00000324845314, 1) 0%, rgba(37.30096064507961, 110.28110235929489, 118.39000403881073, 1) 56.23987317085266%, rgba(39.068496599793434, 115.50685554742813, 124.00000780820847, 1) 62.07455396652222%, rgba(40.996714532375336, 121.20767444372177, 130.12000501155853, 1) 67.90924072265625%, rgba(55.13698697090149, 163.0136999487877, 175.00000476837158, 1) 100%);
}

.banner__back-logo {
    position: absolute;
    right: 0;
    height: 890px;
    width: 800px;
    top: 10%;
}

.banner-inner {
    padding: 100px 100px;
}

.banner--small {
    max-height: 31rem;

}

.info-banner--small {

    padding-top: 10%;
    color: white;
    width: 50vh;
    font-size: 35px;
}

.img-banner {
    background-image: url("../img/фото ЖК (сменное до 5 шт).png");
    height: 1096px;
    width: 1126px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    border: 0;
    top: -30px;
    left: -5px;
    position: relative;
    margin: 0;
}

.text-part-banner {
    position: absolute;
    height: 71%;
    width: min(1024px, 60%);
    top: 26%;
    left: 42%;
    margin: auto;
}

.title-banner {

    padding-left: 42px;
    width: 100%;
    background-color: #ffffff;
    min-height: 100px;
    border-radius: 15px;
    color: #032f30;
    font-size: 95px;
    border-style: hidden;
    outline: none;
    line-height: 1.1;
    font-family: 'Lato SemiBold', sans-serif;
}

.banner-info {
    position: relative;
    padding-top: 33px;
    padding-left: 43%;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-size: 46px;
    letter-spacing: 0;
    line-height: 1.15;
    font-family: 'Lato Light', sans-serif;
}

.smart-part {
    margin-top: 17rem;
    margin-left: 38.3rem;
    width: 433px;
}

.smart-part button {
    color: #032f30;
    text-align: center;
    vertical-align: text-top;
    font-size: 35px;
    background-color: #efeccb;
    height: 78px;
    width: 433px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    font-family: 'Lato SemiBold', sans-serif;
    cursor: pointer;
}

.info-smart {
    margin-top: 20px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    vertical-align: text-top;
    font-size: 25px;
}

/*  - ----prepear-search---- - */


.filter-side {
    height: 1000px;
}

.title-section {
    font-family: 'Lato SemiBold', sans-serif;
    color: #000000;
    /*text-align:left;*/
    /*vertical-align:text-top;*/
    font-size: 3.1rem;
    line-height: 1.3;
    /*outline:none;*/
    /*text-wrap: normal;*/

}

.title-section ~ p {
    margin-top: 30px;
    color: #000000;
    font-size: 2rem;
    line-height: 1.2;
}

.blocks-filter {
    margin-top: 110px;
}

.block-filter {
    margin-top: 36px;
    color: #000000;
    font-size: 24px;
}

.block-filter > label {
    display: block;
    text-align: left;
    vertical-align: text-top;
    font-size: 24px;
    line-height: 1.2;
    border-style: hidden;
    outline: none;
    width: 226px;
    margin-bottom: 24px;
    font-family: var(--font-family-bold);
    font-weight: 400;
    color: #000;
}
.my-btn-lg {
    border: 1px solid #999999;
}

.my-btn-long {
    border-radius: 10px;
    width: 280px;
    height: 47px;
    background: linear-gradient(180deg, #27758d 0%, #1c4344 100%);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border: 0;

}
.phone-btn{
    width: 90%;
    border: 0;
    border-radius: 7px;
    padding: 15px 15px;
    height: 61px;
    background: linear-gradient(180deg, #27758d 0%, #1c4344 100%);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
}

.img-block {
    height: 326px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    border: 0.50px solid #999;
    border-radius: 5px;
}

.my-listdown, .my-select {
    border: 0px solid #999;
    border-radius: 10px;
    width: 291px;
    height: 57px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fffefe;
    font-weight: 600;
    font-size: 25px;
    color: #174449;
}

.my-select ~ svg {
    content: '';
    font-size: 18px;
    line-height: 12px;
    font-weight: 900;
    color: black;
    top: -40px;
    left: 63%;
    position: relative;

}

.my-btn-lg > .btn {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.55rem;
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}


.block-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cost {
    width: 440px;
}

.area {
    width: 360px;
}

.btn-check:checked + .btn {
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    border-radius: 5px !important;
}

#btnradio1 + label, #btnradio6 + label {
    border-left: 0;
    border-right: 0;
}

.extended-filter {
    position: relative;
    top: 80px;
    color: #000000;

    padding-left: 30px;
    font-size: 32px;
    border-style: hidden;
    outline: none;
}

.extended-filter span {
    margin-right: 15px;
    font-size: 62px;
    position: relative;
    top: 10px;
}

/*        -          cards side           -           */


.cards-side {
    padding: 30px 0 0 30px;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    position: relative;
    flex: 2;
    max-width: 50vw;
    margin: 0 auto;
}

.cards__slider {
    position: relative;
    height: 762px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.prev-slide, .next-slide {
    flex: 1;
    max-width: 60px;
    cursor: pointer;
    height: 56px;
    width: 59px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.brdr {
    width: 468px;
    background-color: #ffffff;
    height: 762px;
    transition: border-radius 0.2s linear;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 700;
    font-size: 0.94rem;
    color: #000;
    border: 0;
}


.brdr:hover > .img_section {
    /*border: black 2px solid;*/
    /*background-color: antiquewhite;*/
    transform-box: fill-box;
    /*border-radius: 10% 50px;*/
    transform: scale(1);
    height: 330px;
}

.brdr:hover .card__extended-block {
    display: block;
}

.brdr:empty {
    /*height: 100%;*/
    height: 762px;
}

.img_section {
    /*margin: -15px -15px 69px -15px;*/
    height: 466px;
}

.title_img {
    background-image: url("../img/стел жк 7.png");
    border-radius: 30px 30px 120px 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.title_img-small {
    height: 312px;
}

.bageSoon {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    top: 34px;
    left: 46px;
    border: 0;
    box-shadow: white;
    background-color: rgba(246, 246, 246, 0.800000011920929);
    height: 47px;
    width: 110px;
    font-weight: 500;
    font-size: 15px;
}


.bageLogo {
    position: absolute;
    background: #f4f4f4;
    border-radius: 10px;
    width: 137px;
    height: 110px;
    margin-left: 30px;
    border: 0;
    box-shadow: white;
    top: -60px;
}


.bageLogo > b {
    display: block;
}

.bageLogo > div {
    background-color: #5f77ec;
    display: inline;
    padding: 1px;
    line-height: 0.5;

}

.logo_img {
    position: relative;
}

.info_section {
    padding: 90px 30px 10px 30px;
    position: relative;
    line-height: 1vh;
}

.info_section > div:nth-child(1) {
    margin-bottom: 26px;
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

.info_section > div:nth-child(2) {
    margin-bottom: 55px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.info_section > div:nth-child(3) {
    margin-bottom: 34px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #174246;
}

.info_section > div:nth-child(4) {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #bcbcbc;
}

.h-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    width: 100%;
    border-top: 2px solid gray;
}

.card__extended-block {
    display: none;
}

.ex-bl__build-cnt {
    font-family: var(--font-family-bold);
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 12px;
}

.ex-bl__build-cnt span {
    color: #174449;
}

.ex-bl__list-apart {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0;
    font-size: 20px;
    color: #bcbcbc;
    line-height: 2vh;
    min-height: 100px;

}

.ex-bl__list-apart li a {
    padding: 0;
    font-size: 15px;
    color: #174246 !important;
}

.list-apart__item {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
}

.card__show-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 0 90px;
    flex: 1
}


.show-button {
    padding: 0 10px;
    background-color: #18454a;
    height: 60px;
    max-width: 600px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 28px;
    border-style: hidden;
    outline: none;
    lighting-color: white;
    font-weight: 600;
    font-family: var(--font-family);
}

.show-button:hover {
    background-color: #28666DFF;

}


.send-form {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(37, 110, 118, 0.10000000149011612);
    height: 668px;
    width: 1835px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
}

.send-section {
    position: relative;
    min-height: 850px;
    padding-left: 40px;
    padding-right: 10px;
    align-content: center;

}

.logo-send-form {
    position: absolute;
    top: -10px;
    left: 160px;
}

.header-form {
    position: relative;
    top: 60px;
    right: 85px;
    color: rgba(0, 0, 0, 1);
    height: 120px;
    width: 933px;
    font-size: 55px;
    line-height: 1.5;
}

.header-form + p {
    position: relative;
    right: 80px;
    font-size: 35px;
    line-height: 1.2;
    width: 940px;
    font-family: "Lato Light", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.08rem
}

.my-input-group {
    padding: 80px 37px 10px 30px;
    justify-content: space-between;
}

.send-in input {
    min-width: 430px;
    max-width: 715px;
    font-size: 2rem;
    background-color: #fffdfd;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #999999;
    padding-left: 40px;
}

.send-in input:nth-child(2) {

    width: 490px;
}

.button-wanted {
    margin: 30px auto;

    background-color: #174449;
    height: 104px;
    max-width: 1330px;
    border-radius: 25px;
    text-align: center;
    font-size: 2.8rem;

}

.filter-section_header, .filter-section_content {
    margin: 0 auto;
    max-width: 95%;
}

.filter-section_content {
    border-radius: 16px;
    width: 1769px;
    /*height: 1996px;*/
    background: rgba(23, 68, 73, 0.05);
    padding: 50px;
}

.filter-section_header .row:nth-child(1) {
    padding-left: 10vh;
    padding-right: 10vh;
}

.filter-section_header .row:nth-child(2) {
    margin-top: 14vh;
}

.filter-section_header .row:nth-child(3) {
    /*margin-top: 3vh;*/
    padding-left: 5vh;
    padding-right: 5vh;
}

.filter-section_header .block-filter {
    transform: scale(1.2);
}

.filter-section_header .col-xxl-4 .block-filter {
    margin-left: 2vh;
    margin-right: 0;
}

.filter-section_header .col-xxl-3 .block-filter {
    margin-left: 7vh;
    margin-right: 0;
}

.filter-button {
    border: 0px solid rgba(153, 153, 153, 0);
    border-radius: 10px;

    height: 85px;
    font-weight: 600;
    font-size: 30px;

}

.banner--small .banner__back-logo {
    height: 87%;
    width: 21%;
}

._show {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #174449;
    width: 298px;
    color: #fff;
}

._cancel {
    width: 428px;
}

#group_obj {
    font-size: 24px;
}

#group_obj ~ label {
    font-weight: 300;
    font-size: 24px;
    color: #000;
}

.filter-banner {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    height: 489px;
    border-radius: 30px 30px 30px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}

.filter-banner .bageSoon {
    width: 176px;
    font-weight: 500;
    font-size: 26px;
    font-family: var(--font-family-bold);
}

.filter-banner .info_section > div:nth-of-type(1) {
    font-size: 58px;
}

.filter-banner .info_section > div:nth-of-type(2) {
    font-size: 35px;
}

.filter-banner .info_section > div:nth-of-type(3) {
    font-size: 35px;
}

.filter-banner .info_section {
    padding-top: 90px;
    left: 20px;
    line-height: 286%;
}

.filter-banner .info_section div:nth-of-type(3) {
    margin-top: -5%;
}

.filter-banner .info_section div:nth-of-type(4) {
    font-weight: 600;
    font-size: 51px;
    color: #174246 !important;
    margin-top: 145px;
}

.result-search__items {
    margin-top: 12vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 115px 110px;

}

.result-search__item {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    min-height: 300px;
}

.r-item-img {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.50px solid #999;
    border-radius: 5px;
    width: 258px;
    height: 298px;
    background: #fffefe;
}

.r-item-img img {

    max-height: 300px;
    max-width: 100px;

}

.r-item-info {
    width: 60%;
}

.cards-block__price{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    color: #000;

}
.cards-block__price-sqr{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    color: #999;
}

.percent-h2{
    font-family: var(--font-family-bold);
    font-weight: 800;
    font-size: 48px;
    color: #106681 !important;
}

.r-item__title-info, .price{
    font-family: 'Lato SemiBold', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000;
    margin-top: 2px;
    margin-bottom: 20px;
}
.r-item__price-block{
    margin-top: 17px;
}
.r-item__company{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
    padding-top: 7vh;
}

.price {
    margin-bottom: 0px;
    line-height: 90%;
}

.price-squad {
    font-family: 'Lato SemiBold', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.price-squad span{
    color: gray;
}

.r-item__type-build, .r-item__address, .r-item__categories.price-squad {
    font-family: 'Lato SemiBold', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 146%;
    color: #999;
}


.r-item__categories {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    line-height: 100%;
    font-size: 15px;
}


/*.r-item__categories p{*/
/*   flex-flow: row wrap;*/
/*    justify-content: space-between;*/
/*}*/
/*.r-item__categories p span{*/
/*    text-align: left;*/
/*    min-width: 40%;*/
/*}*/

.search-section{
    position: relative;
    top: 50px;
    margin: 0 auto;
    border-radius: 25px;
    max-width: 1796px;
    padding: 60px 50px;
    min-height: 972px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
}
.fp-input--main{
    border: 1px solid #999;
    border-radius: 10px;
    width: 142px;
    height: 33px;
    background: #fffefe;
}
.search-section__inner{
    padding: 38px 18px;
}
.search-section__filter-side .fp-filter__item{
  min-width: 90%;
}
.search-section__filter-side div {
    margin: 0;
 }
.search-section__filter-side h2 ,.search-section__filter-side h3{
   padding: 10px 0;
}
.search-section__filter-side .fp-filter-item__inner{
    grid-gap: 1vh 1vw;
}

.search-section__filter-side{
    border-right: 1px solid #b5b6b7;
}
.search-section__card-side .cards-block{
    padding: 50px;
}
.cards-block >div:nth-of-type(1){
    height: 1450px;
}

.cards-block__item{
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0 0 17px;
    padding: 16px 0px 31px 20px;
    grid-gap: 52px;
    justify-content: space-evenly;
    border: 1px solid rgba(153, 153, 153, 0.01);
    border-radius: 10px;
    box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(217, 217, 217, 0);
}

/*  -         ----apartment----         - */
.apartment-section{
    top: 40px;
    position: relative;
    margin-bottom: 100px;

}

.as__gallery-side{
    border-radius: 25px;
    min-height: 545px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 40px 30px;

}
.as__toogle{
    width: 350px;
    height: 30px;
    border:0;
    border-radius: 7px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fffefe;
    font-weight: 400;
    font-size: 13px;
    color: #707070;
}

.as__main-img{

    border: 0.50px solid #999;
    border-radius: 7px;
    max-width: 700px;
    height: 310px;
    background: #fffefe;
}
.as__main-img img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.as__group-imgs{

}

.btn-check:checked+.btn.as__toogle{
    background: rgba(16, 102, 129, 0.1);
    border: 0;
    color: #707070;
}

.as__info-side{
    font-family: var(--font-family);
    border-radius: 25px;
    min-height: 456px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 40px 20px;
    max-width: 363px;
}
.as__price-block{
    margin-bottom: 30px ;
}
.as__price-block .price-squad{
    font-weight: 500;
    font-size: 20px;
    color: #999;
}
.as-info__items{
    line-height: 140%;
}
.as-item__type-build{
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
.as-item__address{
    font-weight: 400;
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}
.as-item__categories{
    display: grid;
    grid-template-columns: 160px auto;
    line-height: 200%;
    font-weight: 400;
    font-size: 13px;
    color: #999;
}
.as-item__categories span{
    font-weight: 400;
    font-size: 13px;
    color: #000;
}

.apartment-build-info, .ab-info{
    margin-bottom: 100px;
    height: 100%;
}
.ab-info__content{
    border-radius: 25px;
    /*max-width: 1020px;*/
    min-height: 740px;
    background: rgba(16, 102, 129, 0.05);
    border:0;
    padding: 30px;
}
.ab-info__content >.row:nth-of-type(1){
   margin-bottom: 60px;
}
.ab-info__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #333;
}

.ab-info__img{
    background-image: url("../img/стел жк 10.png");
    border-radius: 20px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 447px;
    height: 395px;
    position: relative;
}
.ab-info__content iframe{
    min-height: 250px;
}

/*  -         ----footer----         - */


footer {
    height: 700px;
    background-image: url('../img/footer.png');
    background-position: center;
    position: relative;
    margin-top: 40px;

}

.logback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img-to-center {
    max-width: 100%;
    max-height: 100%;
}

.block-info {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 688px;
    height: 276px;
    border: 1px solid rgba(0, 0, 0, 1);
    position: relative;
    margin-left: auto;
    margin-right: 0;
    top: -31px;

    /*padding: 36px 76px 30px 46px;*/
}

/**/
.block-info span {
    font-family: 'Lato SemiBold', serif;
    text-align: left;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 4rem;
    border-style: hidden;
    outline: none;
    width: 555px;

}

.footer_text_left {
    margin-top: 280px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 25px;
    color: white;
    line-height: 3.4rem;
}


.tx-footer {
    font-family: 'Lato Light', serif;
    font-weight: 400;
    font-size: 25px;
}

.tx-footer-light {
    font-family: 'Lato Light', serif;
    font-weight: 200;
    font-size: 25px;
}

.footer_white_wrapper_logo {
    position: absolute;
    top: -6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 232px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.5);
}

.footer_white_wrapper_logo_logo {
    width: 235px;
    height: 187px;
}

.footer_geo {
    background-color: #efeccb;
    border-radius: 25px;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 68px;
}

.footer_geo img {
    width: auto;
    max-height: 50px;
}

.footer_geo_location {
    font-weight: 700;
    font-size: 24px;
    color: #18454a;
}

.footer_text_position {
    margin-top: 27px;
    margin-left: 290px;
}

.footer_text_main {
    font-weight: 900;
    font-size: 35px;
    color: white;
}

.footer_text_sub {
    margin-top: 14px;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.footer_text_flex_left {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin-top: 50px;
}

.footer_text_flex_left a {
    margin-top: 22px;
}

._dropdown-menu {
    width: 1200px;
    position: absolute;
}

.submenu {
    padding: 10px 200px 10px 200px;
    display: none;
    left: 0;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 99;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.nav-a:hover .submenu {
    display: block;

}

.menu2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu2 li {
    display: inline-block;
    position: relative;
}

.menu2 li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background: #f9f9f9;
}

.menu2 li ul {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 99;
    top: 100%;
    width: 100%;
    left: 0;
    /*background: #fff;*/
}

.menu2 li:hover ul {
    display: block;
}

.menu2 li ul li {
    display: block;
}

.menu2 li ul li a {
    padding: 8px 10px;
    color: #333;
}


iframe {
    min-height: 450px;
}
.header-min{
    min-height: 300px;
}

/*  Стиль для больших экранов (от 1900px и выше)  */
@media (min-width: 1900px) {
    .container-fluid, .my-container {
        max-width: 1890px;
    }
}

/*  Стиль для средних экранов (от 1024px до 1900px)  */
@media (max-width: 1899px) and (min-width: 1201px) {
    .filter-side, .cards-side {
        height: auto;
    }

    .blocks-filter {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;
    }

    .cards {
        max-width: 53vw;
    }
}

@media (max-width: 1800px) {
    .filter-side, .cards-side {
        width: 100%;
        height: auto;
        padding: 50px;
    }

    .result-search__items {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .filter-section_header .block-filter {
        transform: scale(1);
    }

    .cards {
        flex: auto;
        max-width: 60vw;
    }

    .card__show-button {
        margin-top: 10vh;
    }


}

@media (max-width: 1400px) {

    .filter-section_header .block-filter {
        transform: scale(0.8);
    }
}

@media (max-width: 1200px) {
    .filter-side {
        width: 100%;

    }

    .card {
        margin-bottom: 30px;
    }

    .extended-filter {
        top: 0;
    }

    .filter-section_header .block-filter {
        transform: scale(1);
    }

}

/*  Стиль для средних экранов (от 1024px до 1200px)  */
@media (max-width: 1200px)  and (min-width: 1024px) {
    .cards-side {
        width: 80%;

    }

    .filter-side, .cards-side {
        height: 100%;
    }

}

/*  Стиль для средних экранов (от 768px до 1023px)  */
@media (max-width: 1023px) and (min-width: 768px) {
    .cards-side {
        width: 100%;

    }
}

/*  Стиль для маленьких экранов (от 480px до 767px)  */
@media (max-width: 767px) and (min-width: 480px) {

}

/*  Стиль для очень маленьких экранов (до 479px)  */
@media (max-width: 479px) {

}